bootstrapped==0.0.2
cffi==1.15.1+computecanada
click==8.1.3+computecanada
cloudpickle==2.2.1+computecanada
contourpy==1.0.7+computecanada
cycler==0.11.0+computecanada
filelock==3.12.2
fonttools==4.40.0
h5py==3.8.0+computecanada
importlib-resources==5.12.0+computecanada
kiwisolver==1.4.4+computecanada
llvmlite==0.40.0+computecanada
matplotlib==3.7.0+computecanada
MinAtar @ git+ssh://git@github.com/kenjyoung/MinAtar@2a12fc8af0402f7473c567b2d74f7236b2551681
numba==0.57.0+computecanada
numpy==1.24.2+computecanada
packaging==23.1+computecanada
pandas==2.0.0+computecanada
Pillow==9.5.0+computecanada
pycparser==2.21+computecanada
PyExpUtils @ git+ssh://git@github.com/andnp/PyExpUtils@2.18#egg=PyExpUtils
PyFixedReps @ git+ssh://git@github.com/andnp/PyFixedReps@0.5#egg=PyFixedReps
pyparsing==3.0.9+computecanada
python-dateutil==2.8.2+computecanada
pytz==2023.3+computecanada
rlglue==2.2
scipy==1.10.1+computecanada
seaborn==0.12.2+computecanada
six==1.16.0+computecanada
torch==1.13.1+computecanada
tqdm==4.65.0+computecanada
typing-extensions==4.6.3
tzdata==2023.3+computecanada
zipp==3.15.0+computecanada
gym==0.21.0
dm_control==1.0.11
mujoco-py==2.1.2.14
